<div class ="container">
  <div class="row ">
    <div class="col-sm-3">
      <h4 class="title bg-light text-center" >商品一覧</h4>
    </div>
    <div class="col-sm-9 text-right">
      <%= link_to new_admin_item_path do %>
      <i class="fas fa-plus-circle fa-2x" style="color: #DEB887;"></i>
      <% end %>
    </div>
  </div>
  
  <div class-"row">
    <table class= "table table-hover table-borderless">
        <thead class="bg-light">
          <tr>
            <th scope="col" style="width: 15%">商品ID</th>
            <th scope="col" style="width: 25%">商品名</th>
            <th scope="col" style="width: 15%">税抜価格</th>
            <th scope="col" style="width: 20%">ジャンル</th>
            <th scope="col" style="width: 20%">ステータス</th>
          </tr>
        </thead>
      <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name,admin_item_path(item.id)%></td>
            <td><%= number_with_delimiter(item.price) %></td>
            <td><%= item.genre.name %></td>
            <td><% unless item.is_active == true %>
                <p class="status text-muted"><%= p "販売停止中" %></p>
                <% else %>
                <p class="status text-success"><%= p "販売中" %></P>
                <% end %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="row justify-content-center ">
    <%= paginate @items %>
  </div>
</div>