<div class ="container">
  <div class="mb-5 row text-center">
    <div class="col-md-4">
      <h4 class="title bg-light" >ジャンル一覧・追加</h4>
    </div>
  </div>
  <form class="row mb-5">
   <%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
    <div class="col-md-2">
      <%= f.label "ジャンル名" %>
    </div>
    
    <div class="col-md-3">
      <%= f.text_field :name,class: 'form-control', placeholder: "ジャンル名"%>
    </div>
    
    <div class="col-md-2">
      <%= f.submit "新規登録", class: 'btn btn-success' %>
    </div>
   <% end %>
  </form>


<div class ="row">
<div class="col-md-4">
<table class= "table table-hover">
  <thead class="bg-light">
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
       <tr>
        <td><%= genre.name %></td>
        <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: 'btn btn-success' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>

