    <div class="col-sm-5">
      <h2 class ="title bg-light text-center" >ショッピングカート</h2>
    </div>
  </div>
</div>

<div>
 <div class ="text-end">
  <div class ="row">
    <h4 class ="text-sm-end"><%= link_to "カートを空にする", destroy_all_path, method: :delete, class:"btn btn-sm btn-danger" %></h4>
  </div>
 </div>
</div>


 <table class ="order_table">
  <thead>
   <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
   </tr>
  </thead>
  <tbody>
    <% @sum = 0 %>
   <% @cart_items.each do |item| %>
   <tr>
    <td><%= item.item.name %></td>
    <td><%= item.item.with_tax_price.to_s(:delimited) %></td>
    <td>
     <%= form_with model: item do |f| %>
      <%= f.select :amount, *[1..10] %>
     <%= f.submit "更新", class: 'ml-2 btn btn-success' %>
     <% end %>
    </td>
    <td><%= (item.subtotal).to_s(:delimited) %></td>

    <td>

    <%= link_to "削除する", cart_item_path(item.id), method: :delete, class:"btn btn-sm btn-danger" %>
    </td>
   </tr>
   <% (@sum += item.subtotal).to_s(:delimited) %>
   <% end %>
  </tbody>
 </table>
 <table>
   <thead>
     <tr>
       <th>合計金額</th>
     </tr>
   </thead>
   <tbody>
     <% @sum = 0 %>
     <% @cart_items.each do |item| %>
     <tr>
       <td><% @sum += item.subtotal %></td>
     </tr>
     <% end %>

     <td><%= @sum.to_s(:delimited)+"円" %></td>
   </tbody>
 </table>
 <% if current_customer.cart_items.count != 0 %>
 <div>
  <%= link_to "買い物を続ける", root_path, class:"btn btn-sm btn-primary" %>
 </div>
 <div>
  <%= link_to "情報入力画面に進む", new_order_path, class:"btn btn-sm btn-success" %>
 </div>
  <% end %>
