
<div class = "container">
<h4 class="font-weight-bold"><span class="p-3 mb-2 bg-light text-dark">　新規会員登録　</span></h4>
<br>
<br>
<%= form_with model: @customer, url: customer_registration_path do |f| %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
 <%= render "public/shared/error_messages", resource: resource %>
 <table>
 <tr>
 <td>
 <p>名前</p>
 </td>
 <td style= "width: 7%">
 <label>（姓）</label>
 </td>
 <td>
 <div class="form-group">
 <%= f.text_field :last_name, class: "form-control", placeholder: "令和" %>
 </td>
 <td>
 <label>（名）</label>
 </td>
 <td>
 <%= f.text_field :first_name, class: "form-control", placeholder: "道子" %>
 </td>
 </div>
 </tr>
 <tr>
 <td>
 <p>フリガナ</p>
 </td>
 <td>
  <label>（セイ）</label>
 </td>
 <td>
 <div class="form-group">
 <%= f.text_field :last_name_kana, class: "form-control", placeholder: "レイワ" %>
 </td>
 <td>
  <label>（メイ）</label>
 </td>
 <td>
 <%= f.text_field :first_name_kana, class: "form-control", placeholder: "ミチコ" %>
 </td>
 </div>
 </tr>
 <tr>
 <td>
 <%= f.label :email, "メールアドレス" %>
 </td>
 <td></td>
 <td>
 <div class="form-group">
 <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "sample@example.com" %>
 </td>
 </div>
 </tr>
 <tr>
 <td>
 <%= f.label :postal_code, "郵便番号（ハイフンなし）" %>
 </td>
 <td></td>
 <td>
 <div class="form-group">
 <%= f.text_field :postal_code, class: "form-control", placeholder: "0000000" %>
 </td>
</div>
</tr>
<tr>
 <td>
 <%= f.label :address, "住所" %>
 </td>
 <td></td>
 <td>
 <div class="form-group">
 <%= f.text_field :address, class: "form-control", placeholder: "東京都渋谷区代々木神園町0-0" %>
 </td>


</div>
</tr>
<tr>
<td>
 <%= f.label :telephone_number, "電話番号(ハイフンなし）" %>
</td>
<td></td>
<td>
<div class="form-group">
 <%= f.text_field :telephone_number, class: "form-control", placeholder: "0000000000" %>
</td>


</div>
</tr>
<tr>
 <td>
 <%= f.label :password, "パスワード" %>
 <% if @minimum_password_length %>



 <em>(<%= @minimum_password_length %> 文字以上)</em>



 <% end %>
</td>
<td></td>
<td>
 <div class="form-group">
 <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
</td>
 </div>
</tr>





<tr>
 <td>
 <%= f.label :password_confirmation, "パスワード（確認用）" %>
</td>
<td></td>
<td>
 <div class="form-group">
 <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
</td>


 </div>
</tr>



<tr>
<td></td>
<td></td>
<td>
 <div class="form-group">
 <%= f.submit "新規登録", class:"btn btn btn-success" %>
</td>


 </div>
</tr>




<% end %>
</table>


<h4 class="font-weight-bold"><span class="p-3 mb-2 bg-light text-dark">　既に登録済みの方　</span></h4>
<br>
<div class = "col-md-8 offset-md-1" >
<%= link_to "こちら", new_customer_session_path  %>　から新規登録を行なってください。
</div>


<!--%= render "public/shared/links" %-->







<% end %>

</div>


