<div class = "container">

<p class="font-weight-bold"><span class="p-3 mb-2 bg-light text-dark">　ログイン　</span></p>
<br>
<br>
<p class="font-weight-bold">　<span class="p-3 mb-2 bg-light text-dark">　会員の方はこちらからログイン　</span></p>
<br>
<br>
<div class = "col-md-8 offset-md-1" >
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table>
 <tr>
  <td>
  <%= f.label :メールアドレス %>
  </td>
  <td></td>
  <td>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "sample@example.com" %>
  </div>
  </td>
 </tr>
 <tr>
   <td>
  <%= f.label :パスワード %>
   </td>
   <td></td>
   <td>
  <div class="form-group">

    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
  </div>
    </td>
  </tr>
  <tr>
   <td></td>
   <td>
   <div class="form-group">
   <%= f.submit "ログイン", class: "btn btn-primary" %>
   </div>
   </td>
  </tr>
</table>
<% end %>
</div>
<br>
<p class="font-weight-bold"><span class="p-3 mb-2 bg-light text-dark">　会員登録がお済みでない方　</span></p>
<br>
<div class = "col-md-8 offset-md-1" >
<%= link_to "こちら", new_customer_registration_path %>から新規登録を行なってください。
</div>
</div>