<div class ="container">
   <div class="row mb-5">
       <h2 class="title"><strong>商品一覧(全<span><%=@items.count %></span>件)</strong></h2>
   </div>
</div>

</div class="container">
   <div class="row">
       <div class="col-3">
           <div class-"serch-box">ジャンル検索</div>
       </div>
       
       <div class="col-8 mb-5">
           <div class="d-flex flex-wrap">
           <% @items.each do |item| %>
             <div class="item-box mx-4">
                 <% if item.image.attached? %>
                  <%= link_to item_path(item.id) do %>
                  <p><%= image_tag item.image, size: "250x200" %></p><% end %>
                <% end %>
                <p class="item-name"><%= item.name %></p>
                <p class-"item-price"><span>¥</span><%= item.with_tax_price %></p>
             </div>
           <% end %>
           </div> 
           
       </div>
       
   </div>
    
    </div>
    <div class="row justify-content-center ">
        <%= paginate @items %>
</div>
