
<div class="container">
   <div class="row">
       <div class="col-3 text-center">
           <table class="table table-bordered">
               <tr>
                   <th>ジャンル検索</th>
               </tr>
               <% @genres.each do |genre| %>
               <tr class="table table-borderless">
                   <td><%= genre.name %></td>
               </tr>
               <% end %>
           </table>

       </div>
     
          
              <div class= "col-md-4-sm-4 ">
                <% if @item.image.attached? %>
                  <P><%= image_tag @item.image, size: "250x200" %></P>
                <% end %>
              </div>

          <div class ="col-md-5 text-center">
            <table class ="table table-borderless">
              <tbody>
                <tr>
                  <td><%= @item.name %></td>
                </tr>
                <tr>
                  <td><%= @item.introduction %></td>
                </tr>
                <tr>
                  <td>¥<%= number_with_delimiter(@item.price) %>（税込）</td>
                <tr>
                  <td>
                    <%= form_with model: @cart_item do |f| %>
                    <%= f.select :amount, *[1..10] %>
                    <%= f.hidden_field :item_id, :value => @item.id %>
                    <%= f.submit "カートに入れる", class: 'btn btn-success' %>
                    <% end %>
                  </td>
                </tr>
              </tbody>
            </table>
      　　</div>
     </div>
      
       
 </div>      
      
   


